@import '../../assets/scss/output';

@include b(tab-bar) {
  width: 750cpx;
  z-index: 1000;
  background-color:#fff;

  @include e(wrap) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @include e(top) {
    position: fixed;
    left: 0;
    top: 0;
  }

  @include e(bottom) {
    position: fixed;
    left: 0;
    bottom: 0;
  }

  @include e(item-wrap) {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1cpx solid $--border-color-PC1;
  }

  @include e(content) {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 13cpx 14cpx;
    .tab-icon {
      width: 40cpx;
      height: 40cpx;
    }

    .tab-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      line-height:1;
      margin-top: 10cpx;
    }

    .tab-text {
      text-align: center;
      font-size: 22cpx;
      color: $--primary-color-CM1;
      font-family: PingFangSC-Regular;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  @include e(icon-wrap) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @include e(line-wrap) {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
