.h-image-wxParse, .wxParse-img, .wxParse-inline{
  margin: 0;
}
.wxParse-span,.wxParse-inline{
  display: inline;
  .__shadow_root__ {
    display: inline;
  }
}
.wxParse-strong{
  font-weight: bold;
  view{
    font-weight: bold;
  }
}
.wxParse-em{
  font-style: italic;
}
@mixin block {
  .wxParse-p{
    font-size: 14px;
    line-height: 40rpx;
    padding: 10rpx 0;
  }
  .wxParse-h1{
    font-size: 32px;
    line-height: 55px;
    font-weight: bold;
  }
  .wxParse-h2{
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
  }
  .wxParse-h3{
    font-size: 18.72px;
    line-height: 36px;
    font-weight: bold;
  }
  .wxParse-h4{
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
  }
  .wxParse-h5{
    font-size: 13.28px;
    line-height: 28px;
    font-weight: bold;
  }
  .wxParse-h6{
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
  }
}
@mixin img {
  .wxParse-img{
    width: 100%;
  }
}
@mixin inline {
}
@mixin text {
  .wxParse-em{
    font-style: italic;
  }
}
@mixin table {
  .wxParse-table{
    width: calc(100% - 1px) !important;
    display: table;
    border-collapse: separate;
    border-spacing: 2rpx;
    border-color: grey;
  }
  .wxParse-thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .wxParse-tfoot{
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .wxParse-tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .wxParse-tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  .wxParse-td{
    display: table-cell;
    vertical-align: inherit;
    border: 1px solid #ccc;
    word-wrap:break-word;
    word-break:break-all;
    padding: 12rpx;
  }
  .wxParse-th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    border: 1px solid #ccc;
    word-wrap:break-word;
    word-break:break-all;
    padding: 12rpx;
  }
}
@mixin video {
  .wxParse-video{
    width: 100%;
  }
}
