; 请妥善保管您的配置
@hupo:registry=https://soiiy-npm.pkg.coding.net/hupo-2.0-front/npm/
always-auth=true
//soiiy-npm.pkg.coding.net/hupo-2.0-front/npm/:username=npm-1591250574813
//soiiy-npm.pkg.coding.net/hupo-2.0-front/npm/:_password=ZWFiZWIyZjMzNmVmZTYyMmY0ZDkzYzg3ZDM1MGZlMGQ4YWFlMmFiYg==
//soiiy-npm.pkg.coding.net/hupo-2.0-front/npm/:email=372254032@qq.com