$button-size:(
  max:( width:600cpx, height:80cpx, font-size:32cpx),
  large:( width:560cpx, height:70cpx, font-size:32cpx),
  medium:( width:240cpx, height:70cpx, font-size:28cpx),
  mediumsmall:( width:150cpx, height:50cpx, font-size:24cpx),
  small:( width:120cpx, height:50cpx, font-size:24cpx),
  mini:( width:100cpx, height:40cpx, font-size:24cpx)
);

$button-color:(
  default:( color:$--white, background-color:$--primary-color-CM1, plian-color:$--primary-color-CM1 ),
  primary:( color:$--white, background-color:$--primary-color-CM1, plian-color:$--primary-color-CM1 ),
  preheat:( color:$--white, background-color:$--preheat-color, plian-color:$--preheat-color ),
  muted:( color:$--font-color-FC2, background-color:$--border-color-PC1, plian-color:$--border-color-PC1 ),
  forbidden:( color:$--font-color-FC3, background-color:$--border-color-PC1, plian-color:$--border-color-PC1 ),
  member:( color:$--font-color-FC1, background-color:$--member-color-MCM1, plian-color:$--font-color-FC1 ),
  specialmember:( color:$--member-color-MCM1, background-color:$--font-color-FC1, plian-color:$--member-color-MCM1 ),
  black:( color:$--font-color-FC1, background-color:$--font-color-FC1, plian-color:$--font-color-FC1 )
);