@import '../../assets/scss/output';
@import './h-page-background.scss';
@include b(page) {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include e(container) {
    flex: 1;
  }

  @include e(content) {
    min-height: 100%;
  }

  @include e(bottom) {
    height: 34px;
    background: $--white;
  }

  @include m(disable-scroll) {}
}
