@import "./_output";
.formidBtn{
  border: none;
  text-align: left;
  padding: 0;
  margin: 0;
  display: inline;
  vertical-align: top;
  box-sizing: border-box;
  font-size: inherit;
  text-decoration: none;
  line-height: inherit;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  color: inherit;
  background-color: transparent;
  @include pseudo(after){
    display: none;
  };
}

@include b(button){
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 30px;
  font-size: 15px;
  color: $--white;
  justify-content: center;
  border-radius: 0;
  margin: 0;
  line-height: inherit;
  @include m(round){
    border-radius: 30px;
    @include pseudo(after){
      border-radius: 30px !important;
    };
    &.humall-button--full:after{
      border-radius: 45px !important;
    }
    &.humall-button--large:after{
      border-radius: 40px !important;
    }
    &.humall-button--small{
      border-radius: 26px !important;
      &:after{
        border-radius: 26px !important;
      }
    }
  }
  @include m(full){
    padding: 0;
    width: 100%;
    height: 45px;
  }
  @include m(large){
    padding: 0;
    width: 100%;
    height: 40px;
  }
  @include m(plain){
    color:$--font-color-c2;
    background-color: transparent;
    &.zan-btn--primary{
      color: $--primary-color-a1;
      &:after{
        border-color: $--primary-color-a1;
      }
    }
    @include pseudo(after){
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      transform: scale(.5);
      transform-origin: 0 0;
      pointer-events: none;
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      border-color:$--font-color-c2;
      border-radius: 10px;
    };
  }
  @include m(mini){
    height: 18px;
    font-size: 20rpx;
    padding: 0 8px;
    border-radius: 2px;
  }
  @include m(small){
    height: 26px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 3px;
  }
  @include m(spacing-left){
    margin-left: 20rpx;
  }

  @include when(disabled){
    background-color: $--color-background-3;
  }
  @include m(plus){
    background-color: $--color-font-yellow-3;
  }
  @include m(cicle){
    position: fixed;
    right: 25rpx;
    bottom: 400rpx;
    width: 80rpx;
    height: 80rpx;
    background-color: $--color-background-6;
    color: $--primary-font-grey-2;
    border-radius: 80rpx;
    padding: 0;
  }

}
