@import "~@hupo/core-sass-bem";
@include b(checkbox){
  @include e(wrap){
    word-break: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    @include when(disabled){
      @include e(select){
        color: $--splitline-color-FgxC1;
      }
    }
    @include when(active){
      @include e(select){
        color: $--primary-color-CM1;
      }
      @include e(label){
        color: $--font-color-FC1;
      }
    }
  }
  @include e(select){
    display: block;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: color;
    color: $--splitline-color-FgxC1;
    font-size: 40rpx;
  }
  @include e(label){
    color:#666;
    font-size: 30rpx;
    margin-left: 20rpx;
    color: $--font-color-FC3;
  }
}
