@include b(radio){
  @include e(wrap){
    word-break: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 56rpx;
    @include when(disabled){
      @include e(select){
        color: $--background-color-BgC1;
      }
    }
    @include when(active){
      @include e(select){
        color: $--primary-color-CM1;
      }
      @include e(label){
        color: $--font-color-FC1;
      }
    }
  }
  @include e(select){
    display: block;
    color: $--splitline-color-FgxC1;
  }
  @include e(label){
    color:#666;
    font-size: 26rpx;
    margin-left: 20rpx;
    color: $--font-color-FC3;
  }
}
