// 要兼容低版本必须使用 woff 而不是 woff2
// https://transfonter.org/ woff-->base64
@font-face {
  font-family: "hp-icon";
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAA0sAA0AAAAAE4wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAANEAAAABoAAAAciOPiy0dERUYAAAz0AAAAHAAAAB4AJwAcT1MvMgAAAaAAAABCAAAAVjygSIpjbWFwAAACIAAAAFkAAAFazKPQRmdhc3AAAAzsAAAACAAAAAj//wADZ2x5ZgAAAqwAAAgzAAAL1AddJKBoZWFkAAABMAAAADAAAAA2GBT/wWhoZWEAAAFgAAAAHgAAACQJlQVMaG10eAAAAeQAAAA5AAAAWFbLAkxsb2NhAAACfAAAAC4AAAAuHwQcBm1heHAAAAGAAAAAHwAAACABLACbbmFtZQAACuAAAAFJAAACiCnmEVVwb3N0AAAMLAAAAL0AAAFW+8M9znjaY2BkYGAA4a2/r8Xz23xl4GZhAIGb8+8+hNH///8vYd3O3AfkcjAwgUQBmRMPa3jaY2BkYGBu+N/AEMO67T8QsG5nAIqgADEAwEsH6gAAeNpjYGRgYBBj6GfgYQABJiDmAkIGhv9gPgMAGacByAB42mNgZPFknMDAysDA1Ml0hoGBoR9CM75mMGLkAIoysDIzYAUBaa4pDA7P1J45MDf8b2CIYe5n6AEKM4LkAPtXDKUAAHjaY2GAAMZQBgYWBjTcwMDNkszAzpLNwMTCwLgdKOYAxSB5RtZtDIwwtaxL//+H6zvDwAAA4uIHagAAAHjaY2BgYGaAYBkGRgYQCAHyGMF8FgYLIM3FwMHAxMD0TP2Z4TOLZw7//zMwPFN7pvvM5JnV//+SdyVvSF6TvArVCwWMbAxwAUYmIMHEgAoYGYY9AADkWxF6AAAAAAAAAAAAAAAAPACAAMoBMAFiAboB+gIkAk4DOAOAA/IEmgS4BO4FHAViBXoF6gAAeNp1VmtsFNcVvmfuzJ2d3ZnZnZ3ZmV3bu/bO2jMLNrv2PstrMeASXOyWINKkjwjUVmoIKpRH8wNVxVjZPuKWGmjAtFJEKUFJIWqDukV9SAkhUgOkUkVKq9I2CX8aqVXTSKVIrexxz+wasGsqre695855n++cu4QSMjvGEzpGQiRGUoQAI6JD3AqpmqTHZjG9qFecDK1BybGZYfJE8P789g3vFmPQeeNtyMy8J4UiQxGQpZSZTPYlk3Bg3lcBubOy5P0IHg4oHoEOZOjrIIRw8+xmFloVLLNQhUrJtXIgArPz4LAwsAeYhqNMZ/AYY5yoi96VgCF+UYwyymCRD38/gdRm/MihRs9j7BGBC/ABfYEfLiHCXScsRqibAxU6QVQhBWvASkEN8lCtAbrFkZveO4IA6Zs3IY0G3vnD2VC7AcGz54NgdATPL6DG5vHdRDmu90FccxTm5n5NNGKTGmYnBxmbiSyCPhQLlWolQlW8c50IepMCy4yI1LHDeNH0F8tUQH/NQqWE/lZK9Mnhn3/+s78YOX58br80eOanZwbr9db29HekRGB8XLYD8qFDUjQujY8HElEJz9xfh0c3bXrOe+K55g5TM/9aOwTr107AExOtgzc1AX+TkFcO2PL4uBRvykV9fVKcNOscmv03fEC/RGSSIES3nRLWtmAaWAewXXBKlYIFpsGqWrsC31K62xRvnwwHNNXbp7T1yHjVBhNt3SoclXH1diveLgWOIp/s7VIz7aSZL3H2H/RXdDdaSJIy5gv12mjAL5uG+UnXoKpZZg0cyJSLgsF6oVxyesFmSUysU9bAd4L+crX3QseGDm+nImaUEFSWcAeXVEAKtkXBWz84CGui6rtR9aAafVeNwibJlGAE3qvC8njcm1QyIYT5YeRHOdgTkMBo8x6+9P0mc1MOzsMyUfSu+znhZv9Jv0B3kXYfcz1uDd3JcbbKGSnOr69lFgu+s+g2eq+CmAO67XR+YOXeyVNH9qxatefI5nUHSmcUTTGCwvT79EK9/jLPv1yvX1jxg2p94+bJvStX7jlyanLvqiXZ52U1Hocf32Wg9ALh4CLRuWHufaxJDLOVArSpI55UiOkqGD5wHPgtM7tMTFBvMp0dTmez67JZiEYMIwLH0i5AzvYC4K538efXAMgg2U9fQej6Gh0Eqw9H7CBmdEKrn+lPlE7lwBt/+sTm/nDKCt1WbJlbEeJuyxD6zMkXnExM5ONd8h1Z5lYqXb5OmQzOvkpfpYPYm3GcEv1kBdlAtpBtZAd5ioyTw2gp4/trFf3xJJQc9x7ZM9e1fiQ5CEOLqgF2h1nBa8eemypNQo81c1DOISR07LR7JMWOq+AAsllzFLRGQA6gCSa8V8FEHRhhxacYPXsyFA6H/GXm063dX7itdUkIGsG6nJh5RcBdEkI6rgyeGRXDycCIqCa9S5LBRgJIjQrsUVBNFfwlEWrtuNweCSTD4mggqcKTEhNGhViUsRFmeFwddQtSPaiHBO5RxqQ69oyMl/DdB+thhi4IviLveBAPTEcSL8FrCSqJmbPztHBf+X9BydCmzIspGJNaMQmCjrEw1OtdnhcV+Z+577bmPg5bHLkO0dG7PNYnY+cAq+I6Ncx4tVJIYfkWzVsjHOrTGg05ohiSEGg0WqTSGQe5QcfmBu1dgZnNWl8o3GiEFMuSGo05It6pNHB2wOx+OkMPky6yngxhN4p+oVk3QtcdaL4AVswfsTx2ZRMr/guQB6vCIzSsIn5DuuxzO92i28JUlb5xLaYq7oTXeKqvwANNuSYVVpcn4dkXu8NZ6cNi+/RjbxphZUXsGRhBFgp80tBMEFZWJ72dL/aoSwMbWJt5vYfPast2t9eLXx4SdZOldNhyfM1p++tLtIBx2eiCx3uEbGQovrvj6dLBIUE3KU1EAx87se50+mu9kYB+OdaJ+SYixjgmXKQHmzPYJcvJR8knsYdIj4P9ImIYCHaH+k2LvY/hVCv+4vAtutLdU/BjdVzSBXM3EBOrFZHZTp5zalwhxYkUq1aqQTEFBqMtrQOoBPPSz73EC0uXAyxf2pFTyqntFz8SSfdpla9uhO1GsaPhHfs20pGdIMPvrXh1Rz8f9G7NWN6tSLpXe4uzYW0fAMe7wagOVDQ6OjsMkQ6p8XA4rprJlDF1heevTE1d5fmrU9vRSi/aao+vh1HYOKz1pSOVD3HL30rkjPynvumTOx45BnymUwlCxPvAv7i2xlsFbzI+aOW3PM7CqYSiJFIR75AS70gokOxNcZ+7px9t+bPuPoZx1hH3LogX/UOBA3P/P+5eLsC/tVDanfcfaJGmrODdufqa9x+ENP/6NQgu0nzjdW8aP7LXrkJQ4L07/kyencW6P08P+ZZwvvvzzxLMCg5j03KbT7Dj6hpVg+qAAblYOUaHjWJU0LTpbdEBDZboJUMxxPBfIhDhfhbhoiw6EJ3ep4E2v48tkidEK9W4YhpxENMMlcuk7RxX1jX/OUsXalxZw+cNL1Wurb9mc+ftWn+bf5rZ6p969e58gjufyHfr/mlmq3/ifreQqSXY+raAf8FM8d8MoqFNdAPtod1z3A/PnZv5+Dk65q8+RTC5ZHac/zXyJ8gy7IaNhEicltZMSys5KMZQ2iymc1AeKPUM3Ad6pVgwLaOJ9BqXgthioNe9We86PdWbTWjTIS2R0LgT2aVwyEb80mRACQPfmTCTACVZl3j8R6KYkX0nKT25b7+/7seyPuQB90fvJTEKz/ry09/QErk9qwft7/FUjHbXHuLjbspkWHcFvRWCuhyx4DeooKUGV0L+C+wjZYEAeNp9kD1OAzEQhZ/zByQSQiCoXVEA2vyUKRMp9Ailo0g23pBo1155nUg5AS0VB6DlGByAGyDRcgpelkmTImvt6PObmeexAZzjGwr/3yXuhBWO8ShcwREy4Sr1F+Ea+V24jhY+hRvUf4SbuFUD4RYu1BsdVO2Eu5vSbcsKZxgIV3CKJ+Eq9ZVwjfwqXMcVPoQb1L+EmxjjV7iFa2WpDOFhMEFgnEFjig3jAjEcLJIyBtahOfRmEsxMTzd6ETubOBso71dilwMeaDnngCntPbdmvkon/mDLgdSYbh4FS7YpjS4idCgbXyyc1d2oc7D9nu22tNi/a4E1x+xRDWzU/D3bM9JIbAyvkJI18jK3pBJTj2hrrPG7ZynW814IiU68y/SIx5o0dTr3bmniwOLn8owcfbS5kj33qBw+Y1kIeb/dTsQgil2GP5PYcRkAAAB42m2O727CMAzEex1rB2Vr+aO9BR/6SA6ExEVzpgVLtE9PRD5sFTvJku/nk85FWWStiv/1mQZFiRIvWOAVFWq8YYkVGqzxjg+06LDBFjvsmxN5Csby2Uo7sgt6U5Ls1ycmGTibJR+DHK42Xrsziddkv8d86qIPOtq/IGjU8AuqQW8srh2YJuKjt+JcENdkP/m0V9GzIa6jV0rZyqTuSTdGL3b21PaJ9Puv8GPF6Dz3gDO0e0Z9nXv6O/F8Z38AAAAAAAAB//8AAnjaY2BkYGDgAWIxIGZiYARCUSBmAfMYAASFAER42mNgYGBkAIKrS9Q5QPTN+XcfwmgASbMIFgAA) format('woff');
}

@mixin icon{
  font-family: "hp-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2px;
}

.iconshuaxin:before {
  content: "\e638";
}

.icondahaobeifen:before {
  content: "\e626";
}

.iconyigouxuanbeifen:before {
  content: "\e627";
}

.icondianjibeifen:before {
  content: "\e62d";
}

.iconicon-test:before {
  content: "\e62e";
}

.iconfanhuicopybeifen:before {
  content: "\e62f";
}

.iconshouyecopybeifen:before {
  content: "\e630";
}

.iconsousuocopybeifen:before {
  content: "\e631";
}

.iconjuxing:before {
  content: "\e634";
}

.iconjiazaichenggong:before {
  content: "\e635";
}

.iconjiazaizhong:before {
  content: "\e636";
}

.iconshibai:before {
  content: "\e637";
}

.iconbianzu:before {
  content: "\e63a";
}

.iconbianzu1:before {
  content: "\e640";
}

.iconbukegouxuanbeifen:before {
  content: "\e63b";
}

.iconbukegouxuanbeifen1:before {
  content: "\e63c";
}

.iconmorenbugouxuanbeifen:before {
  content: "\e63d";
}

.iconmorengouxuanbeifen:before {
  content: "\e63e";
}

.iconmorengouxuanbeifen1:before {
  content: "\e63f";
}
