@import "~@hupo/core-sass-bem";
@include b(search){
  width: 100%;
  background-color: transparent;
  @include e(wrap){
    align-items: center;
    display: flex;
    height: 100%;
  }
  @include e(detail){
    box-sizing: border-box;
    height: 60rpx;
    padding: 16rpx 0;
    display: flex;
    align-items: center;
    border-radius: 60rpx;
    background-color: $--white;
    @include when(cancel){
      border: 1px solid $--splitline-color-FgxC1;
    }
  }
  @include e(icon){
    width: 28rpx;
    padding:0 20rpx 0rpx 30rpx;
    display: flex;
    align-items: center;
    border-radius: 60rpx;
    color: $--font-color-FC3;
    font-size: $--font-size-desc-small-FS2;
    background-color: $--white;
    margin-top:4rpx;
  }
  @include e(input){
    flex: 1;
    line-height: 28rpx;
  }
  @include e(cancel-wrap){
    width: 82rpx;
  }
  @include e(cancel){
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    color: $--font-color-FC2;
    font-size: $--font-size-desc-small-FS2;
  }
}
