@import '../style/mixins/common';
@import '../style/var/button_var';
@import '../style/mixins/button_mixins';

@include b(authorize-popup) {
  padding: 100rpx 55rpx 140rpx;

  @include e(title) {
    font-size: 36rpx;
    color: $--font-color-c1;
    padding: 0 0 100rpx;
    text-align: center;
    line-height: 1;
  }

  @include e(button) {}
}
