@import '../../../../assets/scss/output';
@include b(navbar-loading){
  width: 36cpx;
  height: 36cpx;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @keyframes loading-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @include e(icon){
    display: block;
    width: 100%;
    height: 100%;
    animation: loading-rotate 0.8s linear infinite;
  }
}
