@import '../../assets/scss/output';
@include b(loadmore){
  position: relative;
  width: 100%;
  height: 120cpx;
  font-size: 28cpx;
  @include flexCenter;
  @include e(wrap){
    width: 100%;
    overflow:hidden;
  }
  @include m(loading){
    @include h-loading;
    margin-right: 8cpx
  }
  @include e(tips) {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    .image {
      width: 100%;
      vertical-align: middle;
    }
  }
  @include m(nodata){
    color: $--font-color-FC3;
    .image {
      width: 460cpx;
    }
  }
}