@import "~@hupo/core-sass-bem";
@include b(tab-bar) {
  width: 750rpx;
  z-index: 1000;
  background-color:#fff;
  display: flex;
  align-items: center;
  border-top: 1rpx solid $--border-color-PC1;

  @include e(item) {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13rpx 14rpx;
    @include when(active){
      @include e(title) {
        color: $--primary-color-CM1;
      }
    }
  }

  @include e(icon) {
    width: 40rpx;
    height: 40rpx;
    vertical-align: top;
  }

  @include e(title) {
    margin-top: 10rpx;
    font-size: 22rpx;
    color: $--font-color-FC3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

}
