@import '../style/mixins/common';

@include b(tag){
  text-align: center;
  color: $--font-color-c1;
  display: inline-flex;
  height: 40rpx;
  align-items: center;
  line-height: 1;
  padding-left: 10rpx;
  padding-right: 10rpx;
  border-radius: 5rpx;
  @include when(plain){
    background-color: transparent;
    box-sizing: border-box;
  }
  @include m(primary){
    background-color: transparent;
    box-sizing: border-box;
    color: $--primary-color-a1;
    @include when(plain){
      border: 1px solid rgba($color: $--primary-color-a1, $alpha: .3);
    }
  }
  @include m(blue){
    background-color: transparent;
    box-sizing: border-box;
    color: $--secondary-color-b2;
    @include when(plain){
      border: 1px solid rgba($color: $--secondary-color-b2, $alpha: .3);
    }
  }
  @include m(radius){
    border-radius: 80rpx;
  }
  @include m(large){
    height: 40rpx;
    padding-left: 11rpx;
    font-size: $--font-size-weak-large-fwl;
    padding-right: 11rpx;
  }
  @include m(small){
    height: 30rpx;
    padding-left: 8rpx;
    font-size: 22rpx;
    padding-right: 8rpx;
  }
}