@import '../../assets/scss/output';

@include b(stepper){
  border: 1px solid $--splitline-color-FgxC1;
  display: flex;
  width: 260cpx;
  box-sizing: border-box;
  height: 43px;
  @include e(subtract){
    @include flexCenter;
    .text{
      font-size: 44cpx;
      color: $--font-color-FC2;
    }
    @include when(disabled){
      background-color: $--background-color-BgC1;
      .text{
        color: #d7d7d7;
      }
    }
    width: 84cpx;
  }
  @include e(input-wrap){
    flex: 1;
    border-left: 1px solid $--splitline-color-FgxC1;
    border-right: 1px solid $--splitline-color-FgxC1;
  }
  @include e(add){
    @include flexCenter;
    .text{
      font-size: 44cpx;
      color: $--font-color-FC2;
    }
    @include when(disabled){
      background-color: $--background-color-BgC1;
      .text{
        color: #d7d7d7;
      }
    }
    width: 84cpx;
  }
}