@import '../../assets/scss/output';

@include b(scroll) {
  width: 100%;
  overflow: hidden;
  position: relative;
  @include e(pulldown) {
    width: 100%;
    @include flexCenter();
  }
  @include e(loading) {
    width: 100%;
    @include flexCenter();
  }
}
