@import '../../assets/scss/output';

@include b(popup) {
  position: relative;

  @include e(close) {
    margin-bottom: 30cpx;
    display: flex;
    justify-content: flex-end;
  }

  @include e(close-icon) {
    font-size: 40cpx;
    line-height: 1;
    color: $--white;
  }

  @include e(box) {
    position: relative;
    width: 580cpx;
  }

  @include e(box-content){
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20cpx;
  }
}
