@import '../../assets/scss/output';

@include b(search){
  width: 100%;
  background-color: transparent;
  @include e(wrap){
    align-items: center;
    display: flex;
    height: 100%;
  }
  @include e(detail){
    box-sizing: border-box;
    height: 60cpx;
    display: flex;
    align-items: center;
    border-radius: 60cpx;
    background-color: $--white;
    @include when(cancel){
      border: 1px solid $--splitline-color-FgxC1;
    }
  }
  @include e(icon){
    width: 28cpx;
    padding:0 20cpx 0cpx 30cpx;
    display: flex;
    align-items: center;
    border-radius: 60cpx;
    color: $--font-color-FC3;
    font-size: $--font-size-desc-small-FS2;
    background-color: $--white;
    margin-top:4rpx;
  }
  @include e(input){
    flex: 1;
  }
  @include e(cancel-wrap){
    width: 82cpx;
  }
  @include e(cancel){
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    color: $--font-color-FC2;
    font-size: $--font-size-desc-small-FS2;
  }
}