
$--black: #000;
$--white: #fff;

// 主色 a1 red
$--primary-color-CM1: #dd392e;

// e04d43
$--primary-color-CM1-9: mix($--white, $--primary-color-CM1, 10%);
// e46158
$--primary-color-CM1-8: mix($--white, $--primary-color-CM1, 20%);
// e7746d
$--primary-color-CM1-7: mix($--white, $--primary-color-CM1, 30%);
// eb8882
$--primary-color-CM1-6: mix($--white, $--primary-color-CM1, 40%);
// ee9c97
$--primary-color-CM1-5: mix($--white, $--primary-color-CM1, 50%);
// f1b0ab
$--primary-color-CM1-4: mix($--white, $--primary-color-CM1, 60%);
// f5c4c0
$--primary-color-CM1-3: mix($--white, $--primary-color-CM1, 70%);
// f8d7d5
$--primary-color-CM1-2: mix($--white, $--primary-color-CM1, 80%);
// fcebea
$--primary-color-CM1-1: mix($--white, $--primary-color-CM1, 90%);

// 辅色-yellow
$--secondary-color-b1: #FF7800;

// fcd726
$--secondary-color-b1-9: mix($--white, $--secondary-color-b1, 10%);
// fddb3e
$--secondary-color-b1-8: mix($--white, $--secondary-color-b1, 20%);
// fde056
$--secondary-color-b1-7: mix($--white, $--secondary-color-b1, 30%);
// fde46e
$--secondary-color-b1-6: mix($--white, $--secondary-color-b1, 40%);
// fee987
$--secondary-color-b1-5: mix($--white, $--secondary-color-b1, 50%);
// feed9f
$--secondary-color-b1-4: mix($--white, $--secondary-color-b1, 60%);
// fef2b7
$--secondary-color-b1-3: mix($--white, $--secondary-color-b1, 70%);
// fef6cf
$--secondary-color-b1-2: mix($--white, $--secondary-color-b1, 80%);
// fffbe7
$--secondary-color-b1-1: mix($--white, $--secondary-color-b1, 90%);

$--secondary-color-CA2: #008aff;

// 1a96ff
$--secondary-color-CA2-9: mix($--white, $--secondary-color-CA2, 10%);
// 33a1ff
$--secondary-color-CA2-8: mix($--white, $--secondary-color-CA2, 20%);
// 4dadff
$--secondary-color-CA2-7: mix($--white, $--secondary-color-CA2, 30%);
// 66b9ff
$--secondary-color-CA2-6: mix($--white, $--secondary-color-CA2, 40%);
// 80c5ff
$--secondary-color-CA2-5: mix($--white, $--secondary-color-CA2, 50%);
// 99d0ff
$--secondary-color-CA2-4: mix($--white, $--secondary-color-CA2, 60%);
// b3dcff
$--secondary-color-CA2-3: mix($--white, $--secondary-color-CA2, 70%);
// cce8ff
$--secondary-color-CA2-2: mix($--white, $--secondary-color-CA2, 80%);
// e6f3ff
$--secondary-color-CA2-1: mix($--white, $--secondary-color-CA2, 90%);

// 字体
$--font-color-FC1:#333333;
$--font-color-FC2:#666666;
$--font-color-FC3:#999999;

// border
$--border-color-PC1:#d7d7d7;
$--splitline-color-FgxC1:#e5e5e5;

// background
$--background-color-BgC1:#efefef;
$--background-color-BgC2:#fafafa;
$--background-color-BgC3:#ffffff;

// old 不甜
// 灰色字体
$--primary-font-grey-2:#b3b3b3;
$--primary-font-grey-3:#e0e0e0;

// 白色字体
$--primary-font-write-2:#f8f8f8;

// 背景色
$--primary-background-write-1: #F2F2F2;

// 游玩酒店剧场
$--play-color:#ffb82f;
$--hotel-color:#f35367;

// 预热
$--preheat-color:#51B94A;

// 优惠券
$--coupon-color:#F83543;
$--coupon-font:#FFE597;

// 会员

$--member-color-MCM1: #E9CF9E;
$--member-color-MCM2: #D3B369;
$--member-color-MCA2: #C09445;
$--member-font-color-MFC1: #8B5000;

$--member-background-color-MBGC1: #575757;
$--member-background-color-MBGC1: #2E2E2F;