// 字号

$--font-size-title-large-Fi1:36cpx;
$--font-size-title-medium-Fi2:32cpx;
$--font-size-title-medium-Fi3:30cpx;

$--font-size-desc-large-FS1:28cpx;
$--font-size-desc-small-FS2:26cpx;

$--font-size-weak-large-FW1:24cpx;
$--font-size-weak-medium-FW2:22cpx;
$--font-size-weak-small-FW3:20cpx;

// 价格

$--font-size-price-large-FPi1:60cpx;
$--font-size-price-medium-FPS1:40cpx;
$--font-size-price-small-FPS2:36cpx;

$--font-size-price-weak-FPW1:28cpx;
$--font-size-price-through-FPW2:20cpx;

$--dialog-width:580cpx;
$--dialog-radius:20cpx;
$--dialog-wrap-padding:40cpx;
$--dialog-close-icon-size:40cpx;
$--dialog-content-line-height:1.5;

$--toast-font-size:26cpx;
$--toast-max-width:550cpx;
