// 字号

$--font-size-title-large-ftl:36cpx;
$--font-size-title-medium-ftm:32cpx;
$--font-size-title-small-fts:30cpx;

$--font-size-desc-large-fdl:28cpx;
$--font-size-desc-small-fds:26cpx;

$--font-size-weak-large-fwl:24cpx;
$--font-size-weak-medium-fwm:22cpx;
$--font-size-weak-small-fws:20cpx;

// 价格

$--font-size-price-large-fpl:60cpx;
$--font-size-price-medium-fpm:40cpx;
$--font-size-price-small-fps:36cpx;

$--font-size-price-weak-fpw:28cpx;
$--font-size-price-through-fpw:20cpx;

$--dialog-width:580cpx;
$--dialog-radius:20cpx;
$--dialog-wrap-padding:40cpx;
$--dialog-content-line-height:1.5;
