@import '../../assets/scss/output';

@include b(dialog){
  @include m(container){
    background-color: $--white;
    width: $--dialog-width;
    border-radius: $--dialog-radius;
  }
  @include e(header){
    @include flexCenter;
    padding: 60cpx $--dialog-wrap-padding 0;
    font-size: $--font-size-title-large-Fi1;
    color: $--font-color-FC1;
    @include m(title){
      font-weight: bold;
      line-height: 1;
    }
    @include m(icon){
      margin-right: 20cpx;
    }
  }
  @include e(content){
    @include flexCenter();
    padding: 0 40cpx ;
    @include m(message){
      color: $--font-color-FC2;
      font-size: $--font-size-price-small-FPS2;
      margin-top: 40cpx-(($--font-size-title-large-Fi1*($--dialog-content-line-height - 1))/2);
    }
    @include when(has-title){
      .h-dialog-content--message{
        font-size: $--font-size-desc-small-FS2;
        margin-top: 40cpx-(($--font-size-desc-small-FS2*($--dialog-content-line-height - 1))/2);
      }
    }
  }
  @include e(footer){
    @include flexCenter;
    margin-top: 60cpx-(($--font-size-title-large-Fi1*($--dialog-content-line-height - 1))/2);

    border-top: 1px solid $--border-color-PC1;
    @include flexCenter;
    padding:10cpx 0;
  }
  @include e(footer-button){
    @include when(cancel){
      margin-right: 20cpx;
    }
    @include when(no-type-button){
      flex:1;
      @include flexCenter;
      font-size: $--font-size-desc-large-FS1;
    }
    @include when(no-type-button-confirm){
      color: $--primary-color-CM1;
    }
    @include when(no-type-button-cancel){
      color: $--font-color-FC3;
    }
  }
  @include e(footer-button-no-type){
    flex:1;
    font-size: $--font-size-desc-large-FS1;
    .button-text{
      @include flexCenter;
      height: 70cpx;
      width: 100%;
      @include when(confirm){
        color: $--primary-color-CM1;
      }
      @include when(cancel){
        color: $--font-color-FC3;
        border-right: 1px solid $--splitline-color-FgxC1;
      }
    }
  }
}
