@import '../../../../assets/scss/output';
@include b(navbar-left){
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20cpx;
  @include e(button){
    height: 100%;
  }
  @include e(button-slot){
    padding: 0 20cpx;
    height: 100%;
    display: flex;
    align-items: center;
  }
  @include e(button-icon){
    font-size: 36cpx;

    @include m(default){
      color: $--black;
    }
    @include m(primary){
      color: $--white;
    }
  }

}
