@import '../style/mixins/common';
@import '../style/var/dialog_var';

@include b(dialog){
  @include m(container){
    background-color: $--white;
    width: $--dialog-width;
    border-radius: $--dialog-radius;
  }
  @include e(header){
    @include flexCenter;
    padding: 60rpx $--dialog-wrap-padding 0;
    font-size: $--font-size-title-large-ftl;
    color: $--font-color-c1;
    @include m(title){
      font-weight: bold;
      line-height: 1;
    }
    @include m(icon){
      margin-right: 20rpx;
    }
  }
  @include e(content){
    @include flexCenter();
    padding: 0 40rpx ;
    @include m(message){
      text-align: center;
      font-size: $--font-size-title-large-ftl;
      line-height: $--dialog-content-line-height;
      color: $--font-color-c2;
      margin-top: 60rpx-(($--font-size-title-large-ftl*($--dialog-content-line-height - 1))/2);
    }
    @include m(html){
      color: $--font-color-c2;
      margin-top: 40rpx-(($--font-size-title-large-ftl*($--dialog-content-line-height - 1))/2);
    }
    @include when(has-title){
      .hupo-dialog-content--message{
        font-size: $--font-size-desc-small-fds;
        margin-top: 40rpx-(($--font-size-desc-small-fds*($--dialog-content-line-height - 1))/2);
      }
    }
  }
  @include e(footer){
    @include flexCenter;
    margin-top: 60rpx-(($--font-size-title-large-ftl*($--dialog-content-line-height - 1))/2);

    @include when(unradius-button){
      border-top: 1px solid $--border-color-d1;
      @include flexCenter;
    }
    @include when(radius-button){
      padding-bottom: 30rpx!important;
    }
  }
  @include e(footer-button){
    @include when(cancel){
      margin-right: 20rpx;
    }
    @include when(no-type-button){
      flex:1;
      @include flexCenter;
      font-size: $--font-size-desc-large-fdl;
    }
    @include when(no-type-button-confirm){
      color: $--primary-color-a1;
    }
    @include when(no-type-button-cancel){
      color: $--font-color-c3;
    }
  }
  @include e(footer-button-no-type){
    flex:1;
    font-size: $--font-size-desc-large-fdl;
    .button-text{
      @include flexCenter;
      height: 70rpx;
      width: 100%;
      @include when(confirm){
        color: $--primary-color-a1;
      }
      @include when(cancel){
        color: $--font-color-c3;
        border-right: 1px solid $--splitline-color-Fgx-C-1;
      }
    }
  }
}
