@import '../../assets/scss/output';

@include b(navbar) {
  position: relative;
  z-index: $--z-index-max;
  @include e(place) {
    display: flex;
    align-items: flex-end;
    background: #fafafa;
  }

  @include e(box) {
    display: flex;
    align-items: center;

    @include m(default) {
      background: $--primary-background-write-1;
    }

    @include m(primary) {
      background: $--primary-color-CM1;
    }

    @include when(fixed){
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      z-index: $--z-index-max;
    }
  }

  @include e(box-side) {
    flex: 6;
    height: 100%;
  }

  @include e(box-side-full) {
    height: 100%;
  }

  @include e(box-middle) {
    flex: 13;
    @include ellipsis();
  }
}
