@import "~@hupo/core-sass-bem";
@include b(popup-base){
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  @include e(mask){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(37, 38, 45, 0.7);
  }

  @include e(content){
    width: 100%;
    height: 100%;
  }

}
