@include b(navbar-title){
  display: flex;
  justify-content: center;
  align-items: center;

  @include e(text){
    margin: 0 10rpx;
    font-size: 36rpx;
    font-weight: bold;
    @include ellipsis();

    @include m(default){
      color: $--black;
    }
    @include m(primary){
      color: $--white;
    }
  }

  @include e(side){
    width: 36rpx;
    height: 36rpx;
    overflow: hidden;
  }
}
