@mixin set-button-size($width, $height, $font-size) {

  width: $width;
  height: $height;

  font-size: $font-size;

  @include when(radius) {
    border-radius: $height/2;
  }
}

@mixin set-button-color($color, $background-color,$plian-color) {

  color: $color;
  background-color: $background-color;

  @include when(plain) {
    border: 1px solid $background-color;
    background-color: transparent;
    color: $plian-color;
  }

}
