@import '../style/mixins/common';
@import '../style/var/button_var';
@import '../style/mixins/button_mixins';

@include b(getuserinfo) {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $--white;
  // position:fixed;
  // top:0;
  // z-index: 1000;
  @include e(logo){
    width:117rpx;
    height:117rpx;
    border-radius:25rpx;
    margin-top: 196rpx;
  }
  @include e(name){
    margin-top: 25rpx;
    @include setFont($--font-color-c1,34rpx);
  }
  @include e(tip){
    margin-top: 216rpx;
    @include setFont(#4C5B7E,$--font-size-desc-large-fdl);
    margin-bottom:  29rpx;
  }
}
