@import '../../assets/scss/output';

@include b(popup-manager){
  z-index: 1000;
  
  @include when(not-center){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  @include m(show){
    display: block;
  }
  @include e(content){
    position: absolute;
    z-index: 80;
    max-height: 100%;
    background-color: transparent;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-overflow-scrolling: touch;
    @include m(center){
      top: 50%;
      left: 50%;
      z-index: 1001;
      position: fixed;
      transform: translate(-50%,-50%);

      @include when(in){
        opacity: 1;
      }

      @include when(leave){
        opacity: 0;
      }
    }
    @include when(transition){
      transition-property: opacity, transform, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
    @include m(top){
      width: 100%;
      top: 0;
      right: auto;
      bottom: auto;
      left: 50%;
      transform: translate3d(-50%, -100%, 0);
      @include when(in){
        transform: translate3d(-50%, 0, 0);
      }
      @include when(leave){
        transform: translate3d(-50%, -100%, 0);
      }
    }
    @include m(right){
      position: fixed;
      z-index: 1000;
      display: flex;
      flex-direction: column;

      top: 50%;
      right: 0;
      bottom: auto;
      left: auto;
      transform: translate3d(100%, -50%, 0);

      @include when(in){
        transform: translate3d(0, -50%, 0);
      }

      @include when(leave){
        transform: translate3d(100%, -50%, 0);
      }
    }
    @include m(bottom){
      width: 100%;
      top: auto;
      bottom: 0;
      right: auto;
      left: 50%;
      transform: translate3d(-50%, 100%, 0);

      @include when(in){
        transform: translate3d(-50%, 0, 0);
      }

      @include when(leave){
        transform: translate3d(-50%, 100%, 0);
      }
    }
    @include m(left){
      top: 50%;
      right: auto;
      bottom: auto;
      left: 0;
      transform: translate3d(-100%, -50%, 0);

      @include when(in){
        transform: translate3d(0, -50%, 0);
      }

      @include when(leave){
        transform: translate3d(-100%, -50%, 0);
      }
    }
  }

  @include e(mask){
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(37, 38, 45, 0.4);
    @include when(in){
      opacity: 1;
    }
    @include when(leave){
      opacity: 0;
    }
    @include when(transition){
      transition-property: opacity, transform, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }
}
