@import '../../assets/scss/output';
@include b(radio){
  margin: 10cpx;
  @include e(wrap){
    padding:11cpx 0;
    word-break: break-word;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.5;
    position: relative;
  }
  @include e(selected){
    width:32cpx;
    height:32cpx;
    border-radius: 100cpx;
    box-sizing: border-box;
  }
  @include e(selected-disabled){
    width:32cpx;
    height:32cpx;
    border-radius: 100cpx;
    box-sizing: border-box;
    opacity: 0.5;
  }
  @include e(unselect){
    width:32cpx;
    height:32cpx;
    border:1px solid #ccc;
    border-radius: 20cpx;
    box-sizing:border-box;
  }
  @include e(unselect-disabled){
    width:32cpx;
    height:32cpx;
    border-radius: 20cpx;
    background: #ccc;
    box-sizing:border-box;
  }
  @include e(label){
    color:#666;
    font-weight: 400;
    font-size: 32cpx;
  }
}